$blue-primary:#39627f;
$blue-secondary:#4b788f; 
$gold-primary: #e4de66; 
$gold-secondary: #beb000;

//sets divider background color
// --color-dark:

//sets divider text color 
// --card-item-color


//sets card background color
// var(--card-item-background-color)


//--color-text;
